#afsin{
    width: 200px;
    height: 100px;
    background-color: blueviolet;
}
.reem{
    width: 200px;
    height: 100px;
    background-color: rgb(41, 6, 73);
}
.habiba{
    width: 200px;
    height: 100px;
    background-color: rgb(136, 121, 150);
}
#liza{
    width: 200px;
    height: 100px;
    background-color: rgb(113, 4, 214);
}
.tasnim{
    width: 200px;
    height: 100px;
    background-color: rgb(104, 72, 134);
}
#antu{
    width: 200px;
    height: 100px;
    background-color: rgb(184, 153, 212);
}